* {
  padding: 0;
  margin: 0;
}body {
  background-color: aqua;
  height: 800px;
}
h1 {
  color: rgb(11, 181, 36);
  font-size: 2rem;
  text-align: center;
  
/* #mainpic {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%
max-width:100%;
height: auto;
  } */
}
#styledimg {
  background-image: url(https://assets.website-files.com/5f3af67cc24e17e4c6a2bc0c/5f3b471097251477977405cf_DJI_0162-poster-00001.jpg);
  background-repeat: no-repeat;
  width: 200vmin;
  height: 75vmax;
  }
#header {
 padding: 1.5rem;
  background-color: blue;
  height: 20vmin;
  align-items: center;
  text-align: center;
}
#data {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* #booking, #view, #canoe, #sites{
  background-color: rgb(226, 53, 53);
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 10px;
  
} */

#search {
  background-color: blueviolet;
  font-size: 1.5rem;
}
#search::placeholder {
  color: aqua;
}
#button1, #button2, #button3, #button4 {

  background-color: hsl(117, 84%, 29%);
  font-size: 1.5rem;
  border-radius: .5rem;
  color: blue;
  padding: 2vmin;
  margin: 2vmin;
  
}
